aside {
    background-color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
}
aside ul {
    padding: 10px 0;
    list-style: none;
    text-align: center;
}

aside li:first-child {
    padding: 0 0 65px;
}

aside li {
    padding-top: 60px;
}

aside li .home {
    background-color: #DDEDEA;
    padding: 10px;
    border-radius: 5px;
}
