* {
    box-sizing: border-box;
}
body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 120px 1fr;
}
main {
    display: inline-block;
    float: right;
}

div {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

div div {
    display: inline-block;
    padding: 15px;
}

h1 {
    margin: 50px;
    padding-bottom: 20px;
}

h2 {
    display: inline-block;
    width: 50%;
}

p {
    display: inline-block;
}

img {
    float: right;
    padding: 20px;
    background-color: aliceblue;
}

a {
    display: inline-block;
}