* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 120px 1fr;
}
main {
    background-color: #F7F7F7;
    display: inline-block;
}

main div {
    padding: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

main div div {
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    gap: 0;
}
main .Dashboard {
    box-shadow: 0 50px 50px -40px #1A9081;
}

main .Datasets {
    box-shadow: 0 50px 50px -40px #E7BD52;
}

main .Users {
    box-shadow: 0 50px 50px -40px #E67375;
}

main .Real-time {
    box-shadow: 0 50px 50px -40px #CBA1F3;
}

main .Billing {
    box-shadow: 0 50px 50px -40px #90BBF5;
}

main .Campaign {
    box-shadow: 0 50px 50px -40px #F5CB90;
}

main h1 {
    margin-left: 70px;
    margin-top: 50px;
}

main h2 {
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
    margin-top: 50px;
    font-size: 30px;
}

main .first {
    color: white;
}

main .text {
    color: #EDF3FF;
    font-weight: bold;
}
main p {
    display: inline-block;
    width: 80%;
    line-height: 30px;
    margin-top: 30px;
    font-size: 20px;
    color: #949494;
    font-weight: bold;
}

main div> div:first-child a {
    display: inline-block;
    margin-top: 100px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

main div div a {
    display: inline-block;
    margin-top: 100px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}